*.iml
.gradle/
local.properties
ed25519-private.pem
ed25519-public.pem
app/src/main/assets/qweather_private.pem
.idea/
.DS_Store
build/
app/build/
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
*.hprof
